@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fefefe;
  --primary: #CA4848;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair-display);
}


body {
  background: var(--background);
  color: var(--foreground);


  .subheading-anchor {
    @apply no-underline hover:no-underline;
    @apply font-serif;
  }
}

